body {
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden;
    
}

nav ul li a {
  text-decoration: none;
  font-size: 2rem;
  font-weight: 100;
  color: #456990;
  font-family: 'Alfa Slab One', cursive; 
  border:1px solid transparent;
  border-radius:2px 2px 0 0;
  padding: 5px;
  
}
nav ul li a:hover {
    color: aliceblue;
    background-color: #456990; 
   
} 
a:hover {
    text-decoration: none;
}
#upper-nav {
    align-items: center;
    background-color:#456990;
    height: 10vh; 
    -webkit-box-shadow: 0 8px 6px -4px #061826;
    -moz-box-shadow: 0 8px 6px -4px #061826;
    box-shadow: 0 8px 6px -4px #061826; 
}
.navbar-brand img {
    height: 10vh;
    margin-left: 100px;
}
.container-fluid {
    max-width: 90%;
}

.hero {
    background: linear-gradient(rgba(7, 6, 0, 0.4), rgba(7, 6, 0, 0.4)),url(images/venice1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 60vh;
    display: table;
    position: relative;
    width: 90%;
    margin-bottom: 50px;
    
   }
.row h3 {
    font-family: 'Alfa Slab One', cursive; 
    
}

#orange {
    color: #F17300;
}
#red {
    color: #f16d6a;
}
 
.landing-text {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: azure;
    
       
}
.landing-text .button {
   margin-top: 20px;
       }
.button {
   font-size: 1.5rem;
   padding: 15px 20px;
   background-color: #456990;
   border: 1px #456990;
   border-radius: 10px;
   color: azure;
   margin-top: 50px;
   font-family: 'Alfa Slab One', cursive;   
   
}
.hero .landing-text h1 {
    font-size:60px;
    font-weight: 400;
    font-family: 'Alfa Slab One', cursive;
    text-shadow: 2px 2px grey;
    color: white;
}
 .button:hover {
    background-color: white;
    color: #456990;
}

.hero .landing-text h3 {
    margin-bottom: 30px;
    font-size: 40px;
    font-weight: 200;
    font-family: 'Alfa Slab One', cursive;
    text-shadow: 2px 2px grey;
    color: white;
}
.navbar li {
    padding-right: 20px;
}

.fa-lemon {
    color: #F17300;
    font-size: 10rem;
}

#heart {
    height: 10rem;
    
}
#running {
    height: 10rem;
    
}
.col-md-4 {
  justify-content: center;
  position: relative;
  text-align: center;
  padding: 30px;
}
.col-md-4 h3 {
    padding: 30px 0;
}
.col-md-4 p {
    line-height: 1.6;
    padding: 30px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    font-style: italic;
   
}
.fa-facebook {
color: #fff;
font-size: 1.5rem;
 }
 .fa-instagram {
color: #fff;
font-size: 1.5rem;
     } 
  .fa-youtube {  
color: #fff;
font-size: 1.5rem;
}

#upper-nav li {
    margin: 0px 10px;
}

.hero2 {
    background: linear-gradient(rgba(7, 6, 0, 0.4), rgba(7, 6, 0, 0.4)),url(images/nature.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment:fixed;
    height: 80vh;
    display: table;
    width: 100%;
}



.hero2 .landing-text h2 {
    font-family: 'Alfa Slab One', cursive;
    font-style: italic;
}
.hero2 .landing-text h1 {
  font-weight: 200;
  font-size: 40px;
  font-family: 'Alfa Slab One', cursive;
  font-style: italic;
}
hr {
    margin: 60px;
}

.page-footer {
   
    background: #333333;
    color: aliceblue;
    
    }
.page-footer li {
    margin: 10px;
}    


.footer-copyright {
    padding: 10px;
    background: #2d2d2d;
    color: #456990;
    font-size: 1.2rem;
    font-weight: 200;
}
/* NUTRITION */

.display {
    background: linear-gradient(rgba(7, 6, 0, 0.4), rgba(7, 6, 0, 0.4)),url(images/nutr.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 60vh;
    width: 90%;
    margin: 0%;
    position: relative;
}
.nutr-text {
    position: absolute; 
    bottom: 0;
    margin-left: 20px;
    padding: 20px;
    background: linear-gradient(rgba(7, 6, 0, 0.4), rgba(7, 6, 0, 0.4));
}
.nutr-text h2 {
    color: aliceblue;
    font-family: 'Alfa Slab One', cursive;
}
.nutr-text p {
    color: aliceblue;
    
}

.row .col-md-4 {
    padding: 0px;
} 

.article {
    margin: 5vh -30px;
    
    
}
.col-md-8 h4 {
    font-family: 'Alfa Slab One', cursive;
    font-weight: 200;
    color: #456990;
}
#articles {
    width: 100%;
   
}
/*TRAINING*/

.training-hero {
    background: linear-gradient(rgba(7, 6, 0, 0.4), rgba(7, 6, 0, 0.4)),url(images/training.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 60vh;
    width: 90%;
    margin: 0%;
    position: relative;
}